<header id="home">
    <nav id="navaff" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display fade in" data-spy="affix" data-offset-top="0" -->
			<div class="navbar-header col-md-2">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ "/#home" | relative_url }}">{{ site.title | escape }}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav col-md-9">
					{% assign sorted_pages = site.pages | sort:"order" %}
					{% for my_page in sorted_pages %}
						{% if my_page.title and my_page.order > 0 %}
						<li {% if my_page.name == page.name %}class="active"{% endif %}><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
						{% endif %}
					{% endfor %}
					<li><a href="https://github.com/assisticant">Examples</a></li>
					<li><a href="https://github.com/michaellperry/assisticant/issues">Issues</a></li>
					<li><a href="https://groups.google.com/forum/#!forum/assisticant">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav visible-xs visible-sm" id="mobileSubMenu">
				</ul>
			</div>
		</div>
	</nav>
</header>